galaga-client/src/main/resources/META-INF/service.xsd

<xsd:schema xmlns="http://www.galaga.com/schema/rpc/galaga"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
            targetNamespace="http://www.galaga.com/schema/rpc/galaga">
    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the Owen Galaga Framework ]]></xsd:documentation>
    </xsd:annotation>
    <!-- owen.galga.rpc.config.RegistryConfig -->
    <xsd:element name="registry">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 注册中心配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="address" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心地址，多个用逗号分隔 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="index" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心Index服务地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 调用注册中心的超时时间 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="connectTimeout" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 连接注册中心的超时时间 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="register" type="xsd:string" use="optional" default="true">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否注册服务 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="protocol" type="xsd:string" use="optional" default="true">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心协议 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

        </xsd:complexType>
    </xsd:element>
    <xsd:element name="server">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务端配置（监听端口），可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="host" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端绑定地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="port" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端绑定端口（已绑定自动+1重试） ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="threads" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="threadpool" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池类型 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="queues" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池队列大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="serialization" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 序列化方式 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <!-- owen.galga.rpc.config.ProviderConfig -->
    <xsd:element name="provider">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务提供者配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="interface" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 接口名称 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="alias" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务别名分组信息 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ref" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 接口实现类  ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="server" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 需要发布服务到的Server，多个用英文逗号隔开 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端执行超时时间，超过时间打印警告日志 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="providerHook" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ providerHook引用 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!-- owen.galga.rpc.config.ConsumerConfig -->
    <xsd:element name="consumer">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务调用者配置，可作为一级二级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="interface" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 接口名称 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="alias" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务别名分组信息 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 客户端执行超时时间，超过时间打印警告日志 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
